<div class="file-list" [ngClass]="viewMode">
    <div class="file-item" *ngFor="let item of items" (click)="onItemClick(item)" (dblclick)="onItemDblClick(item)"
        (contextmenu)="onFileRightClick(item, $event)" [class.deleted]="item.isDeleted">
        <div class="icon">
            <ng-container *ngIf="item.isDirectory; else fileIcon">
                <svg width="40" height="40" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 4l2 2h8c1.1 0 2 .9 2 2v1H2V6c0-1.1.9-2 2-2h6zM2 9h20v9c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9z" />
                </svg>
            </ng-container>
            <ng-template #fileIcon>
                <img *ngIf="item.isFile" [src]="item.path" alt="{{ item.name }}" width="40" height="40"
                    style="object-fit: cover" />
            </ng-template>
        </div>
        <div class="filename">
            {{ item.name }}
        </div>
    </div>
</div>