<!-- src/app/virtual/virtual-file-list/virtual-file-list.component.html -->
<div class="file-card-container" (click)="onContainerClick($event)">
    <ng-container *ngFor="let item of combinedItems; let i = index">
        <div class="file-card" #fileCard [class.selected]="isSelected(item)" (click)="onItemClick(item, $event, i)"
            (dblclick)="onItemDblClick(item)" (contextmenu)="onItemClick(item, $event, i)"
            [style.background-image]="item.isFile && isImage(item) && item.imageUrl ? getBackgroundImage(item.imageUrl) : ''">

            <!-- Directory display -->
            <ng-container *ngIf="item.isDirectory">
                <svg width="60" height="60" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 4l2 2h8c1.1 0 2 .9 2 2v1H2V6c0-1.1.9-2 2-2h6zM2 9h20v9c0 1.1-.9 2-2 2H4
                     c-1.1 0-2-.9-2-2V9z" />
                </svg>
                <div class="filename">{{ item.name }}</div>
            </ng-container>

            <!-- File display -->
            <ng-container *ngIf="item.isFile">
                <div class="badge top-left">
                    ID: {{ item.scanData?.modelNumber }} / {{ item.scanData?.versionNumber }}
                </div>
                <div class="badge top-right">
                    {{ item.scanData?.baseModel }}
                </div>
                <div class="card-footer">
                    <div class="creator">{{ item.scanData?.creatorName }}</div>
                    <div class="main-model">{{ item.scanData?.mainModelName || 'N/A' }}</div>
                </div>
                <div class="filename">{{ item.name }}</div>
            </ng-container>
        </div>
    </ng-container>
</div>