<div class="virtual-grouping-sidebar">
    <div class="header">
        <h3>Virtual Grouping Sidebar</h3>
        <button class="close-btn" (click)="close()">Close</button>
    </div>
    <div class="content">
        <!-- For each group (except "Name") -->
        <div class="group" *ngFor="let group of groupKeys">
            <div class="group-header">{{ group }}</div>
            <div class="option-list">
                <!-- Render a button for each option in the current group -->
                <button *ngFor="let option of aggregatedOptions[group]"
                    [ngClass]="{'selected': selectedOption === option}" (click)="onOptionClick(option)">
                    {{ option }}
                </button>
            </div>
        </div>
    </div>
</div>