<div class="virtual-grouping-sidebar">
    <!-- In virtual-grouping-sidebar.component.html -->
    <div class="header">
        <h3>Virtual Grouping Sidebar</h3>
        <button class="close-btn" (click)="close()">Close</button>
    </div>

    <div class="content">
        <!-- Input box at the top showing selected tokens -->
        <div class="selected-tokens-container">
            <input type="text" class="selected-tokens-input" [value]="getSelectedTokensAsString()" readonly />
        </div>

        <!-- Single scrollable list containing group headers and options -->
        <ul class="option-list" [class.expanded]="listExpanded">
            <ng-container *ngFor="let group of groupKeys">
                <li class="group-header">{{ group }}</li>
                <ng-container *ngFor="let option of aggregatedOptions[group]">
                    <li class="option" (click)="toggleToken(option)">
                        <span class="option-text">{{ option }}</span>
                        <span class="toggle-token-btn">
                            {{ isTokenSelected(option) ? '-' : '+' }}
                        </span>
                    </li>
                </ng-container>
            </ng-container>
        </ul>

        <button class="toggle-btn" (click)="toggleList()">
            {{ listExpanded ? 'Collapse List' : 'Expand List' }}
        </button>
    </div>
</div>