.grouping-sidebar {
    width: 500px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0;
    top: 90px;
    /* Adjust according to your layout */
    bottom: 0;
    padding: 1rem;
    overflow-y: auto;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ddd;

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
    }

    .content {
        padding: 1rem 0;
    }
}